#pageTitle{
    text-align: center;
    background:linear-gradient(0.25turn, #053DC5, 40%, #011954);
    font-family: Arial, Helvetica, sans-serif;
    color: white
}

li {
    color: #053DC5;
    list-style: none;
    margin-bottom: 1.3em;
    border: solid 1px;
    text-align: center;
    margin-left: -40px;
}